@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Our goal is to ensure that you're as happy with your custom plush toy as we were to make it. If you have any
    complaints or praise to share with our team, please direct them to customer support. For corporate sponsorships or
    donation opportunities, please contact our marketing team at the email provided. We look forward to hearing from you!
</p>

<address>
    1234 Fuzzy Buns Lane<br />
    Sparkleton, OZ 12345-6789<br />
    <abbr title="Phone">P:</abbr>
    123.456.7890
</address>

<address>
    <strong>Customer Support:</strong>   <a href="mailto:CustomerSupport@AnimaLuv.com">CustomerSupport@AnimaLuv.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@AnimaLuv.com">Marketing@AnimaLuv.com</a>
</address>