@{
    ViewBag.Title = "Home Page";
}

<div class="banner">
    <h1>Create your own customized plush today!</h1>
    <div class="imageBar"><img src="~/Content/cute_boo_plush_by_bubupoodle-d55wulg.png" /><img src="~/Content/cute_little_teddy_bear_by_bubupoodle-d571tev.png"/><img src="~/Content/doodle_dog_plush_by_bubupoodle-d55tfdv.png"/></div>
    <p><a href="~/CustomOrders/Create" class="btn btn-primary btn-lg">Get Started Now &raquo;</a></p>
</div>

<div class="row">
    <div class="col">
        <h2>Imagine the possibilities!</h2>
        <p>
            With a wide variety of animals, fabrics, outfits, and stuffing options you can create a specialized toy perfectly matched 
            to your needs. Or select our completely custom option to create a uniquely yours plush toy of an imaginary friend made from a favorite
            tee - your imaginiation is the limit on our custom creations!
        </p>
        <p>
            We charge by the size of the stuffed animal. Unlimited cutomization for each size.
            <ul>
                <li>Small: $10</li>
                <li>Medium: $12</li>
                <li>Large: $14</li>
                <li>Extra-Large: $15</li>
            </ul>
        </p>
        <p>Plus, $3.99 shipping. Order now for your customized friend!</p>
    </div>
</div>